<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <title>Anaïs Redon – Graphisme & Illustration</title>
    <meta name="title" content="Anaïs Redon – Graphisme & Illustration" />
    <meta
      name="description"
      content="Graphiste, illustratrice, et étudiante en 4ème année à l'ECV de Bordeaux, passionnée par le dessin, le design et sensible à l'univers du luxe."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://anaisredon.com/" />
    <meta
      property="og:title"
      content="Anaïs Redon – Graphisme & Illustration"
    />
    <meta
      property="og:description"
      content="Graphiste, illustratrice, et étudiante en 4ème année à l'ECV de Bordeaux, passionnée par le dessin, le design et sensible à l'univers du luxe."
    />
    <meta property="og:image" content="../img/cover.jpg?size=1920" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://anaisredon.com/" />
    <meta
      property="twitter:title"
      content="Anaïs Redon – Graphisme & Illustration"
    />
    <meta
      property="twitter:description"
      content="Graphiste, illustratrice, et étudiante en 4ème année à l'ECV de Bordeaux, passionnée par le dessin, le design et sensible à l'univers du luxe."
    />
    <meta property="twitter:image" content="../img/cover.jpg?size=1920" />
  </head>
  <body class="bg-light font-body text-dark antialiased">
    <header class="mx-auto grid max-w-screen-xl grid-cols-12 pt-7">
      <div
        x-data="{'isTriggered': false}"
        x-cloak
        :class="{'animation-slide-down': isTriggered}"
        class="animation-ease-out animation-duration-1000 col-span-7 opacity-0"
        x-init="isTriggered = true"
      >
        <span class="font-title text-xl text-primary">a</span
        ><span class="ml-4 text-xs uppercase tracking-widest text-secondary"
          >Direction artistique</span
        >
      </div>
      <div class="col-span-4 col-start-8 mt-auto h-3 w-full bg-dark"></div>
    </header>

    <main>
      <section class="mx-auto flex max-w-screen-xl">
        <div class="relative grid grid-cols-12">
          <div
            class="
              absolute
              z-[-1]
              col-span-8 col-start-4
              h-full
              w-full
              bg-secondary
            "
          ></div>
          <div class="col-span-6 py-20">
            <h2 class="text-3xl">
              <span class="font-bold">Graphisme</span><br /><span
                class="text-secondary"
                >& Illustrations</span
              >
            </h2>
            <picture>
              <source
                data-srcset="../img/portrait.png?size=480 480w, ../img/portrait.png?size=720 720w, ../img/portrait.png?size=800 800w"
                type="image/jpg"
              />
              <img
                src="../img/portrait.png?size=64"
                data-src="../img/portrait.png?size=480"
                sizes="100vw"
                loading="lazy"
                alt="Illustration d'un portrait"
                class="
                  lazyload
                  animation-ease-out
                  animation-duration-1000
                  animation-delay-1500
                  transform
                  opacity-0
                  blur
                "
                x-data="{'isTriggered': false}"
                :class="{'animation-slide-down': isTriggered}"
                x-init="isTriggered = true"
              />
            </picture>
          </div>
          <div class="col-span-5 flex flex-col py-20">
            <div
              class="animation-ease-out animation-duration-1000"
              x-data="{'isTriggered': false}"
              :class="{'animation-slide-down': isTriggered}"
              x-init="isTriggered = true"
            >
              <h1 class="grid grid-cols-5 font-title text-[140px] leading-none">
                <span class="col-span-5">Anaïs</span
                ><span class="col-span-4 col-start-2 -ml-3">Redon</span>
              </h1>
              <h2
                class="
                  absolute
                  top-0
                  right-0
                  mt-[87px]
                  mr-10
                  font-semibold
                  uppercase
                "
              >
                Bordeaux
              </h2>
            </div>

            <div class="grid h-full grid-cols-5">
              <div class="col-span-3 col-start-2 flex flex-col justify-between">
                <div>
                  <p class="">
                    Née au Japon d’une famille purement scientifique, ma passion
                    a rompu avec les codes familiaux. Depuis que je suis en
                    capacité de tenir un crayon, je me nourris de cette passion.
                    De l’atelier créatif, au cours de peinture, en passant par
                    le dessin d’analyse ou le manga, la curiosité m’a poussé à
                    découvrir un maximum de technique et de média afin de mieux
                    affiner mon style.
                  </p>

                  <p class="mt-6">
                    C’est par mon apprentissage et mes expériences que ma
                    sensibilité au luxe s’est précisée, me permettant d‘orienter
                    mes créations vers cet univers, à la recherche de finesse et
                    de précision.
                  </p>
                </div>

                <p class="">
                  Découvrez mon projet Anaitha sur<br /><a
                    href="https://www.instagram.com/_anaitha/"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="
                      action
                      mt-auto
                      font-bold
                      uppercase
                      tracking-widest
                      text-primary
                    "
                    >Instagram
                    <img
                      src="./src/img/arrow.svg"
                      class="-mt-px w-3 fill-current"
                      alt="Icône d'une flèche"
                  /></a>
                </p>
              </div>
            </div>
          </div>
          <aside class="order-first col-span-1 flex lg:order-last">
            <div
              class="
                flex
                items-center
                justify-end
                space-x-4 space-x-4
                px-5
                py-2
                lg:flex-col
                lg:flex-col
                lg:justify-start
                lg:space-x-0
                lg:space-y-4
                lg:space-x-0
                lg:space-y-4
                lg:px-3
                lg:py-0
              "
            >
              <a
                href="https://www.instagram.com/_anaitha/"
                target="_blank"
                rel="nofollow noreferrer noopener"
                x-data="{'isTriggered': false}"
                :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
            }"
                class="
                  animation-ease-out animation-duration-1000
                  border
                  transform
                  rounded-full
                  text-primary
                  opacity-0
                  border-primary
                  p-1
                "
                x-init="isTriggered = true"
              >
                <img
                  class="h-5 lg:w-5"
                  src="./src/img/instagram.svg"
                  alt="Logo d'Instagram"
                />
              </a>
              <a
                href="https://www.linkedin.com/in/anaisredon/"
                target="_blank"
                rel="nofollow noreferrer noopener"
                x-data="{'isTriggered': false}"
                :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
            }"
                class="
                  animation-ease-out animation-duration-1000 animation-delay-500
                  border
                  transform
                  rounded-full
                  text-primary
                  opacity-0
                  border-primary
                  p-1
                "
                x-init="isTriggered = true"
              >
                <img
                  class="h-5 lg:w-5"
                  src="./src/img/linkedin.svg"
                  alt="Logo de LinkedIn"
                />
              </a>
              <a
                href="https://www.behance.net/anaisredon"
                target="_blank"
                rel="nofollow noreferrer noopener"
                x-cloak
                x-data="{'isTriggered': false}"
                :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
                }"
                class="
                  animation-ease-out
                  animation-duration-1000
                  animation-delay-1000
                  border
                  transform
                  rounded-full
                  text-primary
                  opacity-0
                  border-primary
                  p-1
                "
                x-init="isTriggered = true"
              >
                <img
                  class="h-5 lg:w-5"
                  src="./src/img/behance.svg"
                  alt="Logo de Behance"
                />
              </a>
              <a
                href="mailto:hello@anaisredon.com"
                target="_blank"
                rel="nofollow noreferrer noopener"
                x-data="{'isTriggered': false}"
                :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
            }"
                class="
                  animation-ease-out
                  animation-duration-1000
                  animation-delay-1500
                  border
                  transform
                  rounded-full
                  text-primary
                  opacity-0
                  border-primary
                  p-1
                "
                x-init="isTriggered = true"
              >
                <img
                  class="h-5 lg:w-5"
                  src="./src/img/email.svg"
                  alt="Logo d'une boîte mail"
                />
              </a>
            </div>
            <div
              class="
                ml-6
                origin-top-left
                rotate-90
                whitespace-nowrap
                text-xs
                uppercase
                text-secondary
              "
            >
              Venez découvrir
            </div>
          </aside>
        </div>
      </section>
      <section></section>
    </main>
    <footer class="bg-black px-5 py-6 text-right">
      <p class="text-white mx-auto max-w-screen-xl font-body">
        Anaïs Redon – 2020
      </p>
    </footer>
  </body>
</html>
