<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <title>Anaïs Redon – Graphisme & Illustration</title>
    <meta name="title" content="Anaïs Redon – Graphisme & Illustration" />
    <meta
      name="description"
      content="Graphiste, illustratrice, et étudiante en 4ème année à l'ECV de Bordeaux, passionnée par le dessin, le design et sensible à l'univers du luxe."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://anaisredon.com/" />
    <meta
      property="og:title"
      content="Anaïs Redon – Graphisme & Illustration"
    />
    <meta
      property="og:description"
      content="Graphiste, illustratrice, et étudiante en 4ème année à l'ECV de Bordeaux, passionnée par le dessin, le design et sensible à l'univers du luxe."
    />
    <meta property="og:image" content="../img/cover.jpg?size=1920" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://anaisredon.com/" />
    <meta
      property="twitter:title"
      content="Anaïs Redon – Graphisme & Illustration"
    />
    <meta
      property="twitter:description"
      content="Graphiste, illustratrice, et étudiante en 4ème année à l'ECV de Bordeaux, passionnée par le dessin, le design et sensible à l'univers du luxe."
    />
    <meta property="twitter:image" content="../img/cover.jpg?size=1920" />
  </head>
  <body class="bg-light font-body text-dark antialiased">
    <header class="relative">
      <div class="absolute h-full w-full">
        <div class="mx-auto grid h-full w-full max-w-screen-xl grid-cols-12">
          <div class="col-start-3 h-full w-px bg-secondary"></div>
          <div class="col-span-6 mx-auto h-full w-px bg-secondary"></div>
          <div class="col-start-10 ml-auto h-full w-px bg-secondary"></div>
        </div>
      </div>
      <div
        class="
          relative
          flex
          max-w-screen-xl
          flex-wrap
          justify-between
          pt-7
          md:mx-auto md:grid md:grid-cols-12 md:gap-5
        "
      >
        <div
          x-data="{'isTriggered': false}"
          x-cloak
          :class="{'animation-slide-down': isTriggered}"
          class="
            animation-ease-out animation-duration-1000
            flex
            items-baseline
            pl-5
            opacity-0
            md:col-span-7 md:items-center
          "
          x-init="isTriggered = true"
        >
          <span class="font-title text-xl text-primary">a</span
          ><span
            class="
              ml-4
              hidden
              text-xs
              uppercase
              tracking-widest
              text-secondary
              md:block
            "
            >Direction artistique</span
          >
          <h2 class="ml-3 text-xl md:hidden md:text-3xl">
            <span class="font-bold">Graphisme</span><br /><span
              class="text-secondary"
              >& Illustrations</span
            >
          </h2>
        </div>
        <div
          class="
            flex
            w-1/2
            items-center
            justify-end
            space-x-2
            pr-5
            md:hidden md:w-auto
          "
        >
          <a
            href="https://www.behance.net/anaisredon"
            target="_blank"
            rel="nofollow noreferrer noopener"
            x-cloak
            x-data="{'isTriggered': false}"
            :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
                }"
            class="
              animation-ease-out animation-duration-1000
              transform
              text-primary
              opacity-0
            "
            x-init="isTriggered = true"
          >
            <img
              class="h-8"
              src="./src/img/behance.svg"
              alt="Logo de Behance"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/anaisredon/"
            target="_blank"
            rel="nofollow noreferrer noopener"
            x-data="{'isTriggered': false}"
            :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
            }"
            class="
              animation-ease-out animation-duration-1000 animation-delay-500
              transform
              rounded-full
              text-primary
              opacity-0
            "
            x-init="isTriggered = true"
          >
            <img
              class="h-8"
              src="./src/img/linkedin.svg"
              alt="Logo de LinkedIn"
            />
          </a>
          <a
            href="https://www.instagram.com/_anaitha/"
            target="_blank"
            rel="nofollow noreferrer noopener"
            x-data="{'isTriggered': false}"
            :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
            }"
            class="
              animation-ease-out animation-duration-1000 animation-delay-1000
              transform
              rounded-full
              text-primary
              opacity-0
            "
            x-init="isTriggered = true"
          >
            <img
              class="h-8"
              src="./src/img/instagram.svg"
              alt="Logo d'Instagram"
            />
          </a>
          <a
            href="mailto:hello@anaisredon.com"
            target="_blank"
            rel="nofollow noreferrer noopener"
            x-data="{'isTriggered': false}"
            :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
            }"
            class="
              animation-ease-out animation-duration-1000 animation-delay-1500
              transform
              rounded-full
              text-primary
              opacity-0
            "
            x-init="isTriggered = true"
          >
            <img
              class="h-8"
              src="./src/img/email.svg"
              alt="Logo d'une boîte mail"
            />
          </a>
        </div>
        <div
          class="
            z-10
            mt-6
            h-[6px]
            w-1/2
            bg-dark
            md:col-span-4 md:col-start-8 md:mt-auto md:h-3 md:w-full
          "
        ></div>
      </div>
    </header>

    <main>
      <section class="relative">
        <div class="absolute h-full w-full">
          <div class="mx-auto grid h-full w-full max-w-screen-xl grid-cols-12">
            <div class="col-start-3 h-full w-px bg-secondary"></div>
            <div class="col-span-6 mx-auto h-full w-px bg-secondary"></div>
            <div class="col-start-10 ml-auto h-full w-px bg-secondary"></div>
          </div>
        </div>
        <div
          class="
            relative
            overflow-hidden
            mx-auto
            grid
            max-w-screen-xl
            grid-cols-12
            py-20
            md:gap-5
          "
        >
          <div
            class="
              absolute
              z-[-1]
              h-full
              w-10/12
              bg-secondary
              md:col-span-7 md:col-start-5 md:w-full
              lg:col-span-8 lg:col-start-4
            "
          ></div>
          <div
            class="
              absolute
              left-[50%]
              order-2
              h-full
              w-full
              md:static
              md:left-0
              md:order-1
              md:col-span-6
              md:h-auto
              md:w-auto
              md:pb-20
            "
          >
            <h2 class="hidden text-3xl md:block md:pl-5">
              <span class="font-bold">Graphisme</span><br /><span
                class="text-secondary"
                >& Illustrations</span
              >
            </h2>
            <picture>
              <source
                data-srcset="../img/portrait.png?size=480 480w, ../img/portrait.png?size=720 720w, ../img/portrait.png?size=800 800w"
                type="image/jpg"
              />
              <img
                src="../img/portrait.png?size=64"
                data-src="../img/portrait.png?size=480"
                sizes="100vw"
                loading="lazy"
                alt="Illustration d'un portrait"
                class="
                  lazyload
                  animation-ease-out
                  animation-duration-1000
                  animation-delay-1500
                  h-full
                  transform
                  opacity-0
                  blur
                  md:h-auto md:w-full
                "
                x-data="{'isTriggered': false}"
                :class="{'animation-slide-down': isTriggered}"
                x-init="isTriggered = true"
              />
            </picture>
          </div>
          <div
            class="
              order-2
              col-span-12
              flex flex-col
              px-5
              md:order-1 md:col-span-5 md:px-0
            "
          >
            <div
              class="animation-ease-out animation-duration-1000"
              x-data="{'isTriggered': false}"
              :class="{'animation-slide-down': isTriggered}"
              x-init="isTriggered = true"
            >
              <h1
                class="
                  grid grid-cols-1
                  font-title
                  text-6xl
                  leading-none
                  md:grid-cols-5
                  lg:text-8xl
                  xl:text-[140px]
                "
              >
                <span class="md:col-span-5">An<span class="tracking-tighter">aï</span>s</span
                ><span class="ml-6 md:col-span-4 md:col-start-2 md:-ml-3"
                  >Redon</span
                >
              </h1>
              <h2
                class="
                  ml-[26px]
                  font-semibold
                  uppercase
                  md:absolute md:right-0 lg:mt-[55px] md:mr-10 md:ml-0
                  lg:top-0
                  xl:mt-[87px]
                "
              >
                Bordeaux
              </h2>
            </div>

            <div class="mt-16 grid h-full md:grid-cols-5">
              <div
                class="
                  flex
                  w-1/2
                  flex-col
                  justify-between
                  md:col-span-3 md:col-start-2 md:w-auto
                "
              >
                <div class="hidden md:block">
                  <p>
                    Née au Japon d’une famille purement scientifique, ma passion
                    a rompu avec les codes familiaux. Depuis que je suis en
                    capacité de tenir un crayon, je me nourris de cette passion.
                    De l’atelier créatif, au cours de peinture, en passant par
                    le dessin d’analyse ou le manga, la curiosité m’a poussé à
                    découvrir un maximum de technique et de média afin de mieux
                    affiner mon style.
                  </p>

                  <p class="mt-6">
                    C’est par mon apprentissage et mes expériences que ma
                    sensibilité au luxe s’est précisée, me permettant d‘orienter
                    mes créations vers cet univers, à la recherche de
                    <strong><i>finesse et de précision</i></strong
                    >.
                  </p>
                </div>

                <p>
                  Découvrez mon projet Anaitha sur<br /><a
                    href="https://www.instagram.com/_anaitha/"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="
                      action
                      mt-auto
                      font-bold
                      uppercase
                      tracking-widest
                      text-primary
                    "
                    >Instagram
                    <img
                      src="./src/img/arrow.svg"
                      class="-mt-px w-3 fill-current"
                      alt="Icône d'une flèche"
                  /></a>
                </p>
              </div>
            </div>
          </div>
          <aside class="order-last col-span-1 hidden md:flex">
            <div
              class="
                flex flex-col
                items-center items-center
                justify-start
                space-x-0 space-y-4
                px-3
                py-0
              "
            >
              <a
                href="https://www.behance.net/anaisredon"
                target="_blank"
                rel="nofollow noreferrer noopener"
                x-cloak
                x-data="{'isTriggered': false}"
                :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
                }"
                class="
                  animation-ease-out animation-duration-1000
                  transform
                  text-primary
                  opacity-0
                "
                x-init="isTriggered = true"
              >
                <img
                  class="h-8"
                  src="./src/img/behance.svg"
                  alt="Logo de Behance"
                />
              </a>
              <a
                href="https://www.linkedin.com/in/anaisredon/"
                target="_blank"
                rel="nofollow noreferrer noopener"
                x-data="{'isTriggered': false}"
                :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
            }"
                class="
                  animation-ease-out animation-duration-1000 animation-delay-500
                  transform
                  rounded-full
                  text-primary
                  opacity-0
                "
                x-init="isTriggered = true"
              >
                <img
                  class="h-8"
                  src="./src/img/linkedin.svg"
                  alt="Logo de LinkedIn"
                />
              </a>
              <a
                href="https://www.instagram.com/_anaitha/"
                target="_blank"
                rel="nofollow noreferrer noopener"
                x-data="{'isTriggered': false}"
                :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
            }"
                class="
                  animation-ease-out
                  animation-duration-1000
                  animation-delay-1000
                  transform
                  rounded-full
                  text-primary
                  opacity-0
                "
                x-init="isTriggered = true"
              >
                <img
                  class="h-8"
                  src="./src/img/instagram.svg"
                  alt="Logo d'Instagram"
                />
              </a>
              <a
                href="mailto:hello@anaisredon.com"
                target="_blank"
                rel="nofollow noreferrer noopener"
                x-data="{'isTriggered': false}"
                :class="{
              'animation-slide-right': window.innerWidth >= 1024 ? isTriggered : false,
              'animation-slide-down': window.innerWidth < 1024 ? isTriggered : false
            }"
                class="
                  animation-ease-out
                  animation-duration-1000
                  animation-delay-1500
                  transform
                  rounded-full
                  text-primary
                  opacity-0
                "
                x-init="isTriggered = true"
              >
                <img
                  class="h-8"
                  src="./src/img/email.svg"
                  alt="Logo d'une boîte mail"
                />
              </a>
            </div>
            <div
              class="
              z-[-1]
                ml-6
                origin-top-left
                rotate-90
                whitespace-nowrap
                text-xs
                uppercase
                text-secondary
                hidden xl:block
              "
            >
              Venez découvrir
            </div>
          </aside>
        </div>
        <div class="grid grid-cols-12 py-12 md:hidden">
          <div class="col-span-12 col-start-3 px-5">
            <p>
              Née au Japon d’une famille purement scientifique, ma passion a
              rompu avec les codes familiaux. Depuis que je suis en capacité de
              tenir un crayon, je me nourris de cette passion. De l’atelier
              créatif, au cours de peinture, en passant par le dessin d’analyse
              ou le manga, la curiosité m’a poussé à découvrir un maximum de
              technique et de média afin de mieux affiner mon style.
            </p>

            <p class="mt-6">
              C’est par mon apprentissage et mes expériences que ma sensibilité
              au luxe s’est précisée, me permettant d‘orienter mes créations
              vers cet univers, à la recherche de
              <strong><i>finesse et de précision</i></strong
              >.
            </p>
          </div>
        </div>
      </section>
      <section class="relative bg-dark">
        <div class="absolute h-full w-full">
          <div class="mx-auto grid h-full w-full max-w-screen-xl grid-cols-12">
            <div class="col-start-3 h-full w-px bg-secondary"></div>
            <div class="col-span-6 mx-auto h-full w-px bg-secondary"></div>
            <div class="col-start-10 ml-auto h-full w-px bg-secondary"></div>
          </div>
        </div>
        <div class="relative h-full overflow-hidden">
          <div class="animation-slideshow absolute flex items-start">
            <div class="w-[260px] p-5 md:w-[461px] md:p-12">
              <img
                src="../img/padam.png?size=64"
                data-src="../img/padam.png?size=720"
                sizes="100vw"
                loading="lazy"
                alt="Illustration du projet Padam"
                class="lazyload mt-40 w-full"
              />
            </div>
            <div class="w-[260px] p-5 md:w-[461px] md:p-12">
              <img
                src="../img/evades.png?size=64"
                data-src="../img/evades.png?size=720"
                sizes="100vw"
                loading="lazy"
                alt="Illustration du projet Évadés"
                class="lazyload mt-12 w-full"
              />
            </div>
            <div class="w-[260px] p-5 md:w-[461px] md:p-12">
              <img
                src="../img/guerlain.png?size=64"
                data-src="../img/guerlain.png?size=720"
                sizes="100vw"
                loading="lazy"
                alt="Illustration du projet Guerlain"
                class="lazyload mt-96 w-full"
              />
            </div>
            <div class="w-[260px] p-5 md:w-[461px] md:p-12">
              <img
                src="../img/maysou.png?size=64"
                data-src="../img/maysou.png?size=720"
                sizes="100vw"
                loading="lazy"
                alt="Illustration du projet Maysou"
                class="lazyload mt-56 w-full"
              />
            </div>
            <div class="w-[260px] p-5 md:w-[461px] md:p-12">
              <img
                src="../img/padam.png?size=64"
                data-src="../img/padam.png?size=720"
                sizes="100vw"
                loading="lazy"
                alt="Illustration du projet Padam"
                class="lazyload mt-40 w-full"
              />
            </div>
            <div class="w-[260px] p-5 md:w-[461px] md:p-12">
              <img
                src="../img/evades.png?size=64"
                data-src="../img/evades.png?size=720"
                sizes="100vw"
                loading="lazy"
                alt="Illustration du projet Évadés"
                class="lazyload mt-12 w-full"
              />
            </div>
            <div class="w-[260px] p-5 md:w-[461px] md:p-12">
              <img
                src="../img/guerlain.png?size=64"
                data-src="../img/guerlain.png?size=720"
                sizes="100vw"
                loading="lazy"
                alt="Illustration du projet Guerlain"
                class="lazyload mt-96 w-full"
              />
            </div>
            <div class="w-[260px] p-5 md:w-[461px] md:p-12">
              <img
                src="../img/maysou.png?size=64"
                data-src="../img/maysou.png?size=720"
                sizes="100vw"
                loading="lazy"
                alt="Illustration du projet Maysou"
                class="lazyload mt-56 w-full"
              />
            </div>
          </div>
          <div
            class="
              relative
              z-10
              mx-auto
              grid
              max-w-screen-xl
              grid-cols-12
              py-60
              md:py-80
            "
          >
            <div class="col-span-12">
              <h1
                class="
                  grid grid-cols-12
                  font-title
                  text-6xl
                  leading-none
                  text-light
                  md:text-[100px]
                "
              >
                <span class="col-start-5">Gallerie</span
                ><span class="col-start-2">Graphique</span>
              </h1>
            </div>
            <p
              class="
                col-span-5 col-start-7
                ml-2
                mt-6
                text-light
                md:col-span-12 md:col-start-4 md:mt-20 md:ml-0
              "
            >
              Découvrez mon univers sur <br /><a
                href="https://www.behance.net/anaisredon"
                target="_blank"
                rel="nofollow noopener noreferrer"
                class="
                  action
                  mt-auto
                  font-bold
                  uppercase
                  tracking-widest
                  text-primary
                "
                >Behance
                <img
                  src="./src/img/arrow.svg"
                  class="-mt-px w-3 fill-current"
                  alt="Icône d'une flèche"
              /></a>
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer class="relative bg-dark">
      <div class="absolute h-full w-full">
        <div class="mx-auto grid h-full w-full max-w-screen-xl grid-cols-12">
          <div class="col-start-3 h-full w-px bg-secondary"></div>
          <div class="col-span-6 mx-auto h-full w-px bg-secondary"></div>
          <div class="col-start-10 ml-auto h-full w-px bg-secondary"></div>
        </div>
      </div>
      <p
        class="
          mx-auto
          max-w-screen-xl
          px-5
          py-6
          text-right
          font-body
          text-xs
          tracking-widest
          text-light
        "
      >
        © 2022 • ANAÏS REDON
      </p>
    </footer>
  </body>
</html>
