<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Anaïs Redon</title>
  </head>
  <body class="font-body antialiased">
    <header class="max-w-screen-xl mx-auto px-5 py-5 text-3xl leading-tight">
      <span class="font-bold">Graphisme</span><br />& Illustration
    </header>
    <main class="max-w-screen-xl mx-auto px-5">
      <section class="flex relative">
        <div class="w-full flex pr-5">
          <img
            class="z-0 opacity-50"
            src="../img/background.jpg"
            alt="Photo de fond"
          />
          <div class="absolute flex mr-10 pr-16 py-16">
            <div class="relative z-10 -ml-32">
              <img
                src="../img/portrait.png"
                alt="Illustration d'un portraité"
              />
            </div>
            <div
              class="relative z-10 flex flex-col justify-start items-end px-10"
            >
              <div class="max-w-md text-right">
                <h1 class="font-title text-7xl leading-none tracking-widest">Anaïs Redon</h1>
                <h2 class="font-subtitle text-5xl uppercase">Bordeaux</h2>
              </div>

              <p class="max-w-xs mt-12">
                Née au Japon d’une famille purement scientifique, ma passion à
                rompu avec les codes familiaux. Depuis que je suis en capacité
                de tenir un crayon, je me nourris de cette passion. J’ai
                commencé à suivre des cours de dessin dès mon plus jeune âge, en
                changeant de thématique assez régulièrement. De l’atelier
                créatif, au cours de peinture, en passant par le dessin
                d’analyse ou le manga, la curiosité m’a poussé à découvrir un
                maximum de technique et de média afin de mieux affiner mon
                style. Ayant cette envie de dessin et de création, il était donc
                évident que j’allais m’orienter dans ce domaine professionnel.
              </p>

              <p class="max-w-xs mt-6">
                Aujourd’hui étudiante en master à l’ECV Bordeaux, je suis
                fortement inspirée par le domaine du luxe, et j'aime orienter
                mon travail dans cet esprit, à la recherche de finesse et de
                précision.
              </p>

              <p class="w-full max-w-xs mt-8">
                Découvrez mon travail illustratif sur<br /><a
                  href="https://www.instagram.com/_anaitha/"
                  target="_blank"
                  rel="nofollow noopener noreferrer"
                  class="font-bold uppercase action text-2xl"
                  >Instagram</a
                >
              </p>
            </div>
          </div>
        </div>
        <aside class="flex flex-col items-center space-y-4 pl-5">
          <img
            class="w-6"
            src="./src/img/instagram.svg"
            alt="Logo d'Instagram"
          />
          <img
            class="w-6"
            src="./src/img/linkedin.svg"
            alt="Logo de LinkedIn"
          />
          <img
            class="w-6"
            src="./src/img/email.svg"
            alt="Logo d'une boîte mail"
          />
          <img class="w-6" src="./src/img/behance.svg" alt="Logo de Behance" />
        </aside>
      </section>

      <section class="max-w-screen-xl mx-auto px-5">
        <p>
          Découvrez mon travail graphique sur
          <a
            href="https://www.behance.net/anaisredon"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >Behance</a
          >
        </p>
      </section>
    </main>
    <footer class="max-w-screen-xl mx-auto px-5">
      Anaïs Redon – 2020
      <script src="app.js"></script>
    </footer>
  </body>
</html>
